<ion-view view-title="CityGuide">
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Stadt
          </div>
          <select ng-model="city.selectedOption"
                  ng-options="option.title for option in city.availableOptions track by option.id">

          </select>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Tageszeit
          </div>
            <select ng-model="daytime.selectedOption"
                    ng-options="option.title for option in daytime.availableOptions track by option.id">

            </select>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Kategorie
          </div>
            <select ng-model="category.selectedOption"
                    ng-options="option.title for option in category.availableOptions track by option.id">

            </select>
        </label>

        <label class="item">
          <button class="button button-block button-positive" ng-click="processFilters()">Filtern</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
